name: Dependabot Auto Merge

on:
  pull_request:
    types: [opened, edited, synchronize, labeled, reopened]

permissions:
  pull-requests: write
  contents: write

jobs:
  automerge:
    runs-on: ubuntu-latest
    if: contains(github.event.pull_request.labels.*.name, 'dependabot')

    steps:
      - name: Auto-merge Dependabot PR
        uses: peter-evans/enable-pull-request-automerge@v3
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          merge-method: squash
